<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <app-navbar> </app-navbar>
    </header>
    <router-outlet></router-outlet>

    <!-- <app-users></app-users>

    <button (click)="downloadFile()">Download</button>
    <input type="file" (change)="onUpload($event)" />
    <div *ngIf="res.length === 0; else elseBlock"></div>
    <ng-template #elseBlock>
      {{ res }}
    </ng-template>

    <app-img (loaded)="onLoad($event)" [img]="imgShower"> </app-img>
    <app-products></app-products> -->
  </body>
</html>

<!-- <div class="products--container">
  <div class="products--grid">
    <div *ngFor="let item of productsList; index as i" class="product">
      <img src="{{ item.image }}" alt="img" />
      {{ item.name }}
      {{ item.price }}
      <button (click)="deleteTask(i)">Delete</button>
    </div>
  </div>
</div> -->

<!-- <div class="forms">
    <h1>Forms</h1>
    <form (ngSubmit)="onRegister()" #registerForm="ngForm">
      <div class="input-group">
        <label for="username">UserName</label>
        <input
          type="text"
          name="usernameInput"
          [(ngModel)]="register.name"
          id="username"
          placeholder="Username"
          required
        />
      </div>
      <div class="input-group">
        <label for="email">Email</label>
        <input
          type="email"
          name="emailInput"
          [(ngModel)]="register.email"
          id="email"
          placeholder="Email"
          required
        />
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input
          type="password"
          name="passwordInput"
          [(ngModel)]="register.password"
          id="password"
          placeholder="Password"
          required
        />
      </div>
      <button [disabled]="registerForm.invalid" type="submit">Register</button>
    </form>
  </div>
  <hr />
  <p>
    <input type="text" [(ngModel)]="imgShower" />
  </p> -->
